body {
    background: rgb(212, 222, 232);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* handle the title for each page */
.title {
    border-bottom: 10px double #749188;
    min-width: 60vw;
    text-align: center;
    color: #075d42;
}

/* Footer styling */
footer {
    font-size: 0.9rem;
    font-weight: bolder;
    width: 100%;
    position: absolute;
    height: 0;
    text-align: center;
    bottom: 0;
    left: 0;
    border-top: 2px solid #cccccc;
}

/* Centers content */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    font-size: 1.4em;
    text-align: center;
}

/* Remove bullets on links for nav and footer */
.remove-bullets {
    list-style-type: none;
}

/* Anchor links styling */
a {
    text-decoration: none;
    color: rgb(72, 62, 32);
}

a:hover {
    color: #347d65;
}

/* Add a little radius around the border of images */
img {
    border-radius: 0.4rem;
}

img.recipe-img {
    height: auto;
    min-width: 400px;
}

/* Space out the list items for readability */
li {
    padding: 0.3rem 0;
}

/* Links in other pages that leads back to the home page */
.page-links {
    padding-bottom: 1rem;
}

/* Style the links to the top and home pages */
.page-links li {
    list-style-type: none;
    display: inline-flex;
    padding: 0.5rem;
}

/* Style the links as buttons */
.page-links a,
.flex-item a {
    border: 2px solid rgba(29, 51, 45, 0.725);
    border-radius: 0.6em;
    padding: 0.5rem;
    color: black;
}

.page-links a:hover,
.flex-item a:hover {
    background-color: #cccccc;
    padding: 0.7rem;
    color: #347d65;
}

/* Restrict the width of the text in the steps to prepare the recipe */
.steps-involved,
.recipe-description {
    width: 65%;
    text-align: justify;
}

/* Fix the gap between content on the recipe page */
.recipe-main.center-content {
    margin-top: 0;
}

/* left align the list items */
.recipe-main.center-content li {
    text-align: left;
}

/* reset the gap for the header on the recipe pages */
.recipe-header {
    margin: 0 auto;
}

/* style the navbar */
nav .flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 8px;
    padding-bottom: 10px;
    border-bottom: 2px solid #cccccc;
    padding-right: 40px;
}

li.flex-item {
    list-style-type: none;
}

li.flex-item a {
    border: none;
}
/* style the navbar logo */
li.nav-logo {
    margin-right: auto;
    font-size: 24px;
    font-style: oblique;
    font-weight: bolder;
}

li.nav-logo a {
    border: none;
    color: #075d42
}

li.nav-logo a:hover {
    background-color: inherit;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
    min-width: 60vw;
}

.recipe {
    flex-basis: 100px;
    /* display: flex; */
}

.recipe img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.recipe img:hover {
    opacity: 0.6;
    padding: 20px;
    border-radius: 2rem;
}

.recipe-name {
    text-align: center;
}
