body {
    background: rgb(212, 222, 232);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

header {
    border-bottom: 10px double #749188;
    max-width: 1000px;
    width: 50%;
    text-align: center;
    color: #075d42;
}

/* Footer styling */
footer {
    font-size: 0.9rem;
    font-weight: bolder;
    width: 100%;
    position: absolute;
    height: 0;
    text-align: center;
    bottom: 0;
    left: 0;
    border-top: 2px solid #cccccc;
}

/* Center the contents on the homepage */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    font-size: 1.4em;
    text-align: center;
}

/* Remove bullets on links for nav and footer */
.remove-bullets {
    list-style-type: none;
}

/* Anchor links styling */
a {
    text-decoration: none;
    color: rgb(72, 62, 32);
}

a:hover {
    color: #347d65;
}

/* Add a little radius around the border of images */
img {
    border-radius: 0.4rem;
}

/* Space out the list items for readability */
li {
    padding: 0.3rem 0;
}

/* A generic style to add some margin so element's are not attached to the sides of the screen */
.content {
    margin: 1rem;
}

/* Links in other pages that leads back to the home page */
.page-links {
    padding-bottom: 1rem;
}

/* Style the links to the top and home pages */
.page-links li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem;
}

/* Style the links as buttons */
.page-links a {
    border: 2px solid rgba(29, 51, 45, 0.725);
    border-radius: 0.6em;
    padding: 0.5rem;
    color: black;
}

.page-links a:hover {
    background-color: #cccccc;
    padding: 0.7rem;
}

/* Restrict the width of the text in the steps to prepare the recipe */
#steps-involved, #recipe-description {
    width: 65%;
    text-align: justify;
}
