body {
    background: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2rem;
}

footer {
    text-align: center;
    padding: 1.5rem;
    font-weight: bolder;
}

a {
    text-decoration: none;
}

img {
    border-radius: 0.4rem;
}

li {
    padding: 0.3rem 0;
}
